header {
    padding: 1rem;
    position: fixed;
    top: 0;
}

header h1 {
    font-weight: 300;
    transition: 0.5s;
}

.container-404 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
