@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  background-color: var(--colors-bg);
}

body[data-theme='light'] {
  --colors-bg: #fff;
  --colors-font-contrast: #fff;
  --colors-font: #000000;
  --colors-accent: #6499f3;
  --colors-accent2: #c9f2f2;
  --colors-selected: #fff;
  --colors-deselected: #d1d2d3;
  --colors-lowcontrast: #ededed;
}

body[data-theme='dark'] {
  --colors-bg: #353535;
  --colors-font-contrast: #000;
  --colors-font: #ffffff;
  --colors-accent: #99beff;
  --colors-accent2: #1c1c1c;
  --colors-selected: #fff;
  --colors-deselected: #525151;
  --colors-lowcontrast: #5a5a5a;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3rem;
}

h4 {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, span, label, li {
  color: var(--colors-font);
}

textarea:focus, input:focus{
  outline: none;
}

@media only screen and (min-width:0px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media only screen and (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */ }
@media only screen and (min-width:600px) and (max-width:800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media only screen and (min-width:801px) and (max-width:1024px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media only screen and (min-width:1025px) and (max-width:1280px) { /* big landscape tablets, laptops, and desktops */ }
@media only screen and (min-width:1281px) { /* hi-res laptops and desktops */ }
