li {
    display: list-item;
    list-style: circle;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
}

#title {
    padding-top: 100px;
    display: flex;
    align-items: center;
    margin: 0 3rem;
}

h1 {
    margin-right: 10px;
}

.desc-img-container {
    display: flex;
    flex: 1;
}

.desc-img-container div:first-child {
    flex: 1;
    margin: 0 3rem;
}

.desc-img-container div:nth-child(2) {
    flex: 2;
}

.images {
    flex: 1;
}

.skills-container {
    margin: 0 3rem;
    padding: 2rem 0;
}

.skills-container div div {
    display: flex;
    flex-wrap: wrap;
}

.chat-dialog {
    display: flex;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
}

.open {
    height: 80%;
    flex-direction: column;
    width: 400px;
    border-radius: 25px;
    box-shadow: 0 4px 16px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.25);
}

.logo {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.logo-open {
    margin-right: 10px;
}

.closed-caption {
    padding: 5px; 
    border-radius: 5px;
}

.dialog-head {
    display: flex;
    max-height: 15%;
    min-height: 77px;
    padding: 0 1rem;
    justify-content: left;
    align-items: center;
    box-shadow: 0 9.5px 12.7px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: 0 9.5px 12.7px 0 rgba(0,0,0,.05);
    position: relative;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.exit {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 20px;
    width: 20px;
}

.messages-section {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 10rem;
    align-items: center;
}

.messages-section::-webkit-scrollbar {
    display: none;
}

.message-container {
    margin: 0.5rem 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    max-width: 60%;
}

.message-container span {
    display: block;
    text-align: left;
    width: 100%;
}

.chatbot {
    background-color: white;
    align-self: flex-start;
}

.client {
    background-color: blue;
    color: white;
    align-self: flex-end;
}

.prompt-container {
    margin: 0.5rem 1rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    max-width: 60%;
    min-width: 100px;
    background-color: white;
    border: blue 2px solid;
}

.prompt-container span {
    text-align: center;
    display: block;
    color: blue;
}

.input-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    min-height: 77px;
    max-height: 77px;
}

.chat-input {
    display: flex;
    min-width: 400px;
    max-width: 400px;
    border: none;
    padding: 0.75rem;
    box-sizing: border-box;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    overflow: scroll;
    padding-right: 3rem;
}

.chat-submit {
    position: absolute;
    right: 0.75rem;
    align-self: center;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}